<!DOCTYPE html>
<html>
<head>
    <title>GAME</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
  
</head>
<body>
    <div id="header">
    <h1 style="text-align:center; color: #485762;">THE MONSTER GAME</h1>
</div>
    <div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">PLAYER 1</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: yellowgreen; margin: 0; color: white;"
                :style="{width: player+ '%'}">
                    {{ player }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">PLAYER 2</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: yellowgreen; margin: 0; color: white;"
                        :style="{width: player2+ '%'}">
                        {{ player2 }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!isgame">
        <div class="small-12 columns" >
            <button id="start-game" v-on:click="newg"><b>START NEW GAME</b></button>
        </div>
    </section>
    <section class="row controls" v-if="isgame" >
        <div class="small- columns" >
            <button id="attack" v-on:click="att"><b>ATTACK</b></button>
            <button id="special-attack" v-on:click="spatt"><b>SPECIAL ATTACK</b></button>
            <button id="heal" v-on:click="hea"><b>HEAL</b></button>
            <button id="give-up" v-on:click="gu"><b>GIVE UP</b></button>
        </div>
    </section>
    <section class="row log" v-if="log.length>0">
        <div class="small-12 columns">
            <ul >
                <li class="player-turn" v-for="i in log" >
                  {{ i.text }}
                </li>
            </ul>
        </div>
    </section>
</div>
<script src="app.js"></script>
</body>
</html>